@font-face {
  font-family: 'Cera Pro';
  src: local('CeraPro-Bold'),
      url('../fonts/CeraPRO-Bold.woff2') format('woff2'),
      url('../fonts/CeraPRO-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cera Pro';
  src: local('CeraPro-Regular'),
      url('../fonts/CeraPRO-Regular.woff2') format('woff2'),
      url('../fonts/CeraPRO-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
