body {
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
}

a, body {
  color: #403f3f;
}

h1 {
  font-weight: bold;
}

.container {
  width: 800px;
  margin: 50px auto;
}

.header {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 50px;
}

.divider {
  margin-bottom: 50px;
}

.projectListItem {
  margin-bottom: 100px;
  display: flex;
}

.projectImage {
  margin-right: 50px;
}

.projectTitle {
  font-weight: bold;
  text-decoration: none;
}

.projectDescription, .projectTechList {
  display: inline;
}

.projectTechListItem {
  background: #eee;
  display: inline;
  padding: 2px;
  margin-left: 5px;
}

.footer p, .footer ul {
  margin-bottom: 15px;
}

@media (max-width: 800px) {
  .container {
    width: 95%;
  }

  .header, .projectListItem {
    display: block;
  }

  .logo, .projectImage {
    margin-right: 0;
  }
}

@media (max-width: 600px) {
  .container {
    margin: 2.5% auto;
  }

  .header, .divider {
    margin-bottom: 25px;
  }

  .projectListItem {
    margin-bottom: 50px;
  }
}
